.scrollable-list {
  height: calc(100vh - var(--header-height) - var(--tabbar-height) - env(safe-area-inset-bottom));

  .scroll-view-content {
    padding: 16px;
  }

  .loading,
  .no-more {
    text-align: center;
    color: #999;
    font-size: 14px;
    padding: 16px 0;
  }
}
